@tailwind base;
@tailwind components;
@tailwind utilities;

@import './markdown.css';
@import './editor.css';
@import './toolbar.css';
@import './overlay.css';
@import './pixi.css';

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: none;
}